<h1 class="text-center" style="font-family: 'Arial Rounded MT Bold', sans-serif">
    Información Personal
</h1>

<div class="container-fluid mt-4">

    <div class="col-11 col-md-5 mx-auto">

        <form>

            <%- include('./form') %>

            <div class="mt-4 mb-5">

                <a class="btn btn-primary" href="/user-edit">
                    Editar información
                </a>

            </div>

        </form>

    </div>

</div>