@font-face {
    font-family: arial rounded mt bold;
    font-style: normal;
    font-weight: 400;
    src: local('Arial Rounded MT Bold '), url(https://fonts.cdnfonts.com/s/13381/ARLRDBD_0.woff) format('woff')
}

.custom-font {
    font-family: "Arial Rounded MT Bold", sans-serif;
}

.custom-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: background-color 1s ease;
    z-index: 1000;
}

.nav-link {
    color: #f8f9fa;
    font-size: 20px;
}

.nav-link:hover, .nav-link:focus {
    color: #ffc107;
}

.link-active, .link-active:hover {
    color: #ffc107;
}

.navbar-toggler {
    color: rgba(255, 255, 255, 0);
}

.navbar-toggler i {
    color: #f8f9fa;
    font-size: 1.8rem;
    font-weight: bolder;
}

.dropdown-item:active {
    background-color: #ffc107;
    color: #171616;
}

.custom-main-title {
    font-size: 4rem;
}

.wallpaper {
    display: flex;
    align-items: center;
    height: 100vh;
}

.w-Color-One {
    background-image: url('../images/welcome/background_one.png');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.w-Color-Two {
    background-image: url('../images/welcome/background_two.png');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.modal-open {
    padding: 0 !important;
    overflow-y: auto !important;
}

@media (max-width: 991px) {

    .custom-navbar {
        background: #202022;
    }

}

@media (max-width: 576px) {

    .custom-main-title {
        font-size: 2rem;
    }

}
