<footer class="text-center text-lg-start text-muted" style="background: #171616;">

    <div class="container-fluid">

        <div class="row p-5">

            <div class="col-12 col-md-4 order-1 d-flex justify-content-center align-items-center">
                <h4 style="color: #ffc107;">Calle 4 A Sur No. 15-134</h4>
            </div>

            <div
                    class="col-12 col-md-4 order-3 order-md-3 d-flex mt-5  mt-md-0 justify-content-center align-items-center">

                <div class="row">

                    <div class="col">
                        <div class="rounded-social-buttons text-center">
                            <a class="custom-footer-icons text-white" style="font-size: 1.5rem"
                               href="https://es-la.facebook.com/UPTCSogamosoOficial/"
                               target="_blank"><i class="fab fa-facebook-f"></i></a>
                        </div>
                    </div>

                    <div class="col">
                        <div class="rounded-social-buttons text-center">
                            <a class="custom-footer-icons text-white" style="font-size: 1.5rem"
                               href="https://www.instagram.com/uptcsogamoso/?hl=es" target="_blank"><i
                                        class="fab fa-instagram"></i></a>
                        </div>
                    </div>

                    <div class="col">
                        <div class="rounded-social-buttons text-center">
                            <a class="custom-footer-icons text-white" style="font-size: 1.5rem"
                               href="https://wa.me/+573224838289"
                               target="_blank"><i class="fab fa-whatsapp"></i></a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-12 col-md-4 order-2 order-md-3">
                <h4 style="color: #ffc107;">Sogamoso - Boyacá</h4>
            </div>

        </div>

        <div class="mx-auto" style="width: 90%; border-style: solid; border-top: 2px; border-color: #FFFFFFB2;"></div>

        <div class="row mt-2">
            <div class="col-12">
                <h5 class="text-white text-center mt-3 mb-4">
                    Taller EJS | Felipe && Dairon | 2023
                </h5>
            </div>
        </div>

    </div>

</footer>