<nav id="navbar_id" class="navbar navbar-expand-lg custom-navbar">

    <div class="container">

        <a class="navbar-brand d-flex align-items-end" href="/">
            <img src="./images/welcome/logo.png" alt="logo" width="45" class="d-inline-block">
            <span class="ms-2 fs-3 fw-bolder text-light custom-font">
                SONRISA CANINA
            </span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-list" id="icon-toggle"></i>
        </button>

        <div class="collapse navbar-collapse mx-auto" id="navbarNav">

            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a id="link_start_id" class="nav-link section_link link-active" role="button" data-target="start">
                        Inicio
                    </a>
                </li>

                <li class="nav-item">
                    <a id="link_service_id" class="nav-link section_link" role="button" data-target="service">
                        Servicio
                    </a>
                </li>

                <li class="nav-item">
                    <a id="link_about_us_id" class="nav-link section_link" role="button" data-target="about">
                        Nosotros
                    </a>
                </li>

                <% if (authenticated) { %>

                    <li class="nav-item">
                        <a id="link_profile_id" href="/profile" class="nav-link">
                            Perfil
                        </a>
                    </li>

                <% } else { %>

                    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Iniciar sesión
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                            <li>
                                <a class="button-select dropdown-item" data-bs-toggle="modal" role="button"
                                   data-bs-target="#loginModal">
                                    Iniciar Sesión
                                </a>
                            </li>

                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li>
                                <a class="dropdown-item" data-bs-toggle="modal" role="button"
                                   data-bs-target="#registerModal">
                                    Registrarse
                                </a>
                            </li>

                        </ul>
                    </li>

                <% } %>

            </ul>

        </div>

    </div>

</nav>

<script type="text/javascript">

    const navLinks = document.querySelectorAll('.section_link')

    navLinks.forEach(link => {
        link.addEventListener('click', event => {
            event.preventDefault()
            document.querySelector(`#${link.dataset.target}`).scrollIntoView({behavior: 'smooth'})
        })
    })

    window.addEventListener('scroll', () => {

        const currentScrollPos = window.scrollY
        const sections = document.querySelectorAll('section')

        sections.forEach(section => {

            const sectionTop = section.offsetTop
            const sectionHeight = section.clientHeight

            if (currentScrollPos >= sectionTop - sectionHeight / 2 && currentScrollPos < sectionTop + sectionHeight) {

                const currentSectionId = section.getAttribute('id')

                navLinks.forEach(link => {
                    if (link.dataset.target === currentSectionId) {
                        link.classList.add('link-active')
                    } else {
                        link.classList.remove('link-active')
                    }
                })

            }
        })
    })

    window.addEventListener('scroll', function () {
        const navbar = document.getElementById('navbar_id')
        navbar.style.backgroundColor = (window.scrollY > 50) ? '#333' : ''
    })

    addIcons()

    window.addEventListener('resize', addIcons)

    function addIcons() {

        const link_start = document.getElementById('link_start_id')
        const link_about_us = document.getElementById('link_about_us_id')
        const link_service = document.getElementById('link_service_id')
        const link_profile = document.getElementById('link_profile_id')

        link_start.classList.add('bi', 'bi-house-fill')
        link_about_us.classList.add('bi', 'bi-info-circle-fill')
        link_service.classList.add('bi', 'bi-bookmark-check-fill')
        if (link_profile) link_profile.classList.add('bi', 'bi-person-circle')

        if (screen.width > 768) {
            link_start.classList.remove('bi', 'bi-house-fill')
            link_about_us.classList.remove('bi', 'bi-info-circle-fill')
            link_service.classList.remove('bi', 'bi-bookmark-check-fill')
            if (link_profile) link_profile.classList.remove('bi', 'bi-person-circle')
        }

    }

</script>